.container {
    min-width: 90% !important;
}

* {
    /* border: 1px solid red; */
}



a {
    text-decoration: none;
}

/*  Messageries côté gauche */

button {
    background-color: rgb(166, 166, 166);
    padding: 0.4em 0.7em;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    margin-bottom: 15px;
}

.messageries ul {
    padding: 0;
    height: 70vh;
    background-color: rgb(191, 191, 191);
    border-radius: 15px;
    list-style-type: none;
}

.messageries li {
    background-color: rgb(130, 197, 238);
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
}

/*  Messages côté droit */

.scroll-box {
    height: 85%;
    overflow-y: hidden;
}

.scroll-box:hover {
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    width: 5px;
    background-color: #45454513;
    border-radius: 5px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #35353562;
    border-radius: 5px;
}

hr {
    margin-bottom: auto;
}

.view-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 147, 255);
    border-radius: 10px;
    padding: 3em 3em;
    height: 750px;
}

.big-button {
    display: block;
    margin-left: auto;
    margin-right: 0;

    color: white;
    background-color: rgb(44, 62, 255);
    border-radius: 10px;
    padding: 1em 2em;
}

input,
textarea {
    background-color: transparent;
    border-radius: 30px;
    resize: none;
}

#chat-action button {
    margin-top: auto;
    margin-bottom: 0;
}

form .row {
    margin: auto;
    margin-top: 1em;
    width: 100%;
}

#chat-input {
    padding: 0.4em;

    margin-top: auto;
    margin-bottom: 0;
    border: none;
    height: min-content;
    background-color: rgb(255, 255, 255);
}

.bubble {
    border-radius: 12px;
    margin: 0.2em 0;
    padding: 0.2em 1em;
    width: max-content;
    background-color: rgb(255, 255, 255);
}

.user-bubble {
    margin-left: auto;
    background-color: rgb(39, 39, 255);
}

.user-message {
    color: white;

}