.container {
    min-width: 90% !important;

}

body {
    padding-top: 1em;
}

a {
    text-decoration: none;
    color: rgb(0, 160, 172);
}

/*  Messageries côté gauche */

button {
    background-color: whitesmoke;
    padding: 0.4em 0.7em;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    margin-bottom: 15px;
}

.messageries ul {
    padding: 0;
    height: 70vh;
    border-radius: 15px;
    list-style-type: none;
}

.messageries ul li {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(216, 216, 216);
    height: 80px;
}

.messageries ul li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*  Messages côté droit */

.scroll-box {
    height: 85%;
    overflow-y: hidden;
}

.scroll-box:hover {
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    width: 5px;
    background-color: #45454513;
    border-radius: 5px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #35353562;
    border-radius: 5px;
}

hr {
    margin-bottom: auto;
}

.view-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3em 3em;
    height: 750px;
    box-shadow: 0px 0px 5px rgb(203, 203, 203);
}

.big-button {
    display: block;
    margin-left: auto;
    margin-right: 0;

    color: white;
    background-color: rgb(255, 203, 46);
    border-radius: 10px;
    padding: 1em 2em;
}

input,
textarea {
    background-color: transparent;
    border-radius: 30px;
    resize: none;
}

#chat-action button {
    margin-top: auto;
    margin-bottom: 0;
}

form .row {
    margin: auto;
    margin-top: 1em;
    width: 100%;
}

#chat-input {
    padding: 0.4em;

    margin-top: auto;
    margin-bottom: 0;
    border: none;
    height: min-content;
    background-color: rgb(255, 255, 255);
}

.bubble {
    border-radius: 20px;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    width: max-content;
    max-width: 80%;
    background-color: rgb(255, 255, 255);
}

.user-bubble {
    margin-left: auto;
    background-color: var(--primary-color)
}

.user-message {
    margin: 0;
    color: white;
}

.view-container form button {
    color: white;
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 0.5em 1.2em;
}