.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.filter-box {
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    position: fixed;
    background-color: whitesmoke;
    /* box-shadow: 0px 0px 10px rgb(215, 215, 215); */
}

.filter-box form div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}