body {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

a {
    color: var(--secondary-color);
}

.navbar {
    display: none;
}

.mini-nav {
    position: absolute;
    top: 1em;
    right: 4em;
}

.nav-link {
    padding: 0.5em 1em;
    border-radius: 5px;
}

.nav-link:hover {
    color: white;
    background-color: var(--primary-color);
}

.screen-size {
    margin-top: -80px;
    height: 105vh;
    display: flex;
    align-items: center;
}

.form-container h2 {
    margin: 0.5em 0em;
    font-size: 3em;
    color: var(--primary-color);
}


#headline {
    background-color: var(--primary-color);
    color: white;
    position: absolute;
    left: 50px;
}

form {
    margin: auto;
    max-width: 500px;
    /* border-radius: 20px 0px 0px 20px; */
    display: flex;
    flex-direction: column;
    gap: 1em;

}

form input {
    padding: 0.5em 1em;
    height: 4em;
    border-radius: 5px;
    border: 1px solid rgb(178, 178, 178);
    background-color: white !important;
    box-sizing: border-box;
}


#registration_form_agreeTerms {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 20px;
}

.btn {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.8em 0em;
}

.btn:hover {
    color: white;
    background-color: rgb(19, 140, 122)
}

.image-container {
    height: 100%;
    /* border-radius: 0px 20px 20px 0px; */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(198, 198, 198);
}

.image-container img {
    height: 100%;
    width: 105%;
    object-fit: cover;
}

@media screen and (max-width:800px) {
    .image-container {
        display: none;
    }

    .mini-nav {
        top: 1em;
        right: 0.5em;
    }

}