{% extends 'base.html.twig' %}

{% block title %}Tous les voyages
{% endblock %}

{% block body %}
	<link rel='stylesheet' type='text/css' href="/css/programmes_index.css">

	<div class='filter-bar'>
		<div class='container d-flex align-items-center justify-content-between'>
			<h1>
				{% if filter.nom == 'seul' %}
					Partir seul
				{% else %}
					Partir en
					{{filter.nom}}
				{% endif %}
			</h1>

			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
	<div class="container">
		<div class='cards-container'>
			{% for produit in produits %}
				{% include '/programmes/_vertical-card.html.twig' %}
			{% endfor %}
		</div>
	</div>
</div>

{# Script javascript pour donner au formualaire l'attribut onchange='submit()'  #}
<script>
	var form = document.getElementById('categorie_filter_categorie');
form.setAttribute('onchange', 'this.form.submit()');
</script>{% endblock %}
