<form method="post" action="{{ path('app_achat_delete', {'id': achat.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce voyage de votre panier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat.id) }}">
    <button class="btn">Supprimer</button>
</form>
